@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

.center-block {
  display: block;
  margin: 0 auto; }

p {
  font-size: 14px; }

h1 {
  margin-bottom: 25px; }

.modal {
  font-size: 14px; }
  .modal label {
    font-weight: 400;
    text-transform: uppercase !important; }
  .modal .modal-title {
    margin-bottom: 30px;
    text-align: center; }
  .modal .modal-header {
    border-bottom: none;
    border-top: 3px solid #D24D57;
    border-radius: 0; }
  .modal .modal-footer {
    border: 0; }
  .modal .modal-content {
    border: none;
    border-radius: 0; }

.sign-up-modal .sign-up-btn, .sign-up-modal .white-btn {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; }

.log-in-modal .modal-footer {
  display: block;
  margin-top: 40px;
  text-align: center; }

.log-in-modal .forgot-password {
  display: flex;
  justify-content: flex-end; }

.log-in-modal .sign-up-text {
  color: #D24D57;
  font-weight: 700;
  text-transform: uppercase !important; }

.log-in-modal a {
  text-decoration: none; }

.form-control {
  font-size: .9em;
  font-weight: 300;
  height: 40px; }

.sign-up-btn, .white-btn, .plans-section .sign-up-btn {
  background: #D24D57;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 20px 5px 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); }
  .sign-up-btn:hover, .white-btn:hover {
    background-color: #9D2933;
    transition: ease-in-out .1s; }
  .sign-up-btn:focus, .white-btn:focus {
    outline: none;
    box-shadow: 0 0 6px #1B1B1B; }

.navbar {
  background: #9D2933 !important;
  z-index: 99; }
  .navbar .nav-link {
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase; }
    .navbar .nav-link:hover {
      color: #D24D57 !important; }

.white-btn, .plans-section .sign-up-btn, .plans-section .white-btn {
  background: none;
  border: 2px solid #ffffff;
  box-shadow: none;
  font-size: 16px;
  font-weight: 500;
  margin: 0 3px 0 3px;
  width: auto; }
  .white-btn:hover, .plans-section .sign-up-btn:hover {
    background: #ffffff;
    color: #1B1B1B; }

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0; }

.first-fold {
  margin-top: -65px; }
  .first-fold .sign-up-btn, .first-fold .white-btn {
    width: 250px; }

.products-section {
  padding: 30px 70px 30px 70px; }
  .products-section .sign-up-btn, .products-section .white-btn {
    width: 250px; }

.plans-section {
  background: #9D2933;
  background: -moz-linear-gradient(bottom, #9D2933 0%, #D24D57 100%);
  background: -webkit-linear-gradient(bottom, #9D2933 0%, #D24D57 100%);
  background: linear-gradient(to top, #9D2933 0%, #D24D57 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary-color', endColorstr='$secondary-color',GradientType=0 );
  color: #ffffff;
  padding: 30px 0px 30px 0px; }
  .plans-section sup {
    font-size: 30%;
    padding-left: 5px;
    top: -1.6em; }
  .plans-section h2 {
    font-size: 48px; }
  .plans-section .plan-name {
    font-size: 14px;
    font-weight: 400; }
  .plans-section .recommended-banner {
    background: #66BB6A;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding: 5px;
    text-transform: uppercase; }
  .plans-section .recommended-plan {
    background: rgba(255, 255, 255, 0.2);
    border: 4px solid #ffffff;
    overflow: hidden; }
  .plans-section .white-btn, .plans-section .sign-up-btn {
    margin-bottom: 30px; }
  .plans-section .per-month-text {
    font-size: 12px; }
  .plans-section ul li {
    font-size: 14px; }

.get-started-section {
  padding: 50px 0px 50px 0px; }
  .get-started-section h1 {
    margin-bottom: 20px; }

footer {
  background: #222a36;
  color: #ffffff;
  padding: 20px 0 20px 0; }
  footer a {
    color: #ffffff; }
    footer a:hover {
      color: #D24D57; }
  footer .footer-heading {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px; }
  footer .footer-content {
    font-size: 12px;
    font-weight: 400;
    text-decoration: none; }
  footer .footer-icon {
    font-size: 24px;
    padding: 5px; }

.footer-hr {
  margin: .3em 0 .3em 0;
  border-top: 1px solid #ffffff;
  opacity: .3; }

@media screen and (max-width: 300px) {
  .first-fold {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7)), url("../images/home_bg_300.png") no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

@media screen and (min-width: 301px) and (max-width: 600px) {
  .first-fold {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7)), url("../images/home_bg_600.png") no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

@media screen and (min-width: 601px) and (max-width: 800px) {
  .first-fold {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7)), url("../images/home_bg_800.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

@media screen and (min-width: 801px) and (max-width: 1366px) {
  .first-fold {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7)), url("../images/home_bg_1366.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

@media screen and (min-width: 1001px) {
  .first-fold {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7)), url("../images/home_bg_2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

@media screen and (max-width: 767px) {
  .products-section {
    text-align: center; }
  h1 {
    font-size: 32px; }
  .plans-section h2 {
    font-size: 32px; } }
